<!doctype html>
<html>
  <head>
    <base href="<%= htmlWebpackPlugin.options.base || '/' %>">
    <%- include fragments/meta -%>
  </head>
  <body>
    <div id="loading">Gathering information</div>
    <main>
      <div id="bg">
        <div id="sky"></div>
        <svg id="sun" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="50"></circle>
        </svg>
        <div class="sun-rays-container">
          <% for (let i = 0; i < 128; i++) { %>
            <svg class="sun-ray" id="sun-ray-<%= i %>" viewBox="0 0 10 30">
              <path d="M9.92,29.55,10,30H0l.08-.45C3.14,21.65,5,11.3,5,0,5,11.3,6.86,21.65,9.92,29.55Z" />
            </svg>
          <% } %>
        </div>
        <svg id="moon" viewBox="0 0 200 200"></svg>
        <div id="ground"></div>
        <div id="weather-box"></div>
        <div id="night"></div>
        <div id="stars"></div>
      </div>
      <div id="info">
        <div id="clock"></div>
        <div id="day"></div>
        <div id="location"></div>
        <div id="extra">
          <div id="temperature"></div>
          <div id="weather"></div>
          <svg id="compass" viewBox="0 0 1000 1000">
            <filter id="dropshadow" height="130%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="50" />
              <feComponentTransfer>
                <feFuncA type="linear" slope=".75" />
              </feComponentTransfer>
              <feMerge>
                <feMergeNode />
                <feMergeNode in="SourceGraphic" />
              </feMerge>
            </filter>
            <g filter="url(#dropshadow)">
              <path d="M450.32,80.58C322.49,96.82,208.85,169.41,142,277.08,73.76,387,59.57,524.69,103.8,644.87c54.11,146.67,184.92,251.92,340.36,273.56,31.72,4.48,83.79,4.1,116.62-.75C684.49,899.39,792.54,829,858.22,723.8c29.29-46.84,48.7-98,59-155.25,4.29-23.88,5.78-86.77,2.8-114.2-17.35-157.68-122-292.77-270.57-349.5-23-8.77-53.55-17-81.17-21.65C538.58,78.16,479.8,76.86,450.32,80.58Zm92.74,56.92c110.47,13.81,209,76.32,267,169.81,63.07,101.7,72.59,227.28,25.38,336.62-44.79,103.38-136.4,181.94-243.7,209.18-33.41,8.4-53.18,10.82-89.76,11-37.69,0-62.32-2.8-93.3-11C272.86,816.73,171.9,710.17,142.61,571.72c-5.78-27.62-8.21-86.58-4.66-114.2q16.79-127.07,104.87-215.34C298.05,187,370.45,150,444.16,139.56c7.65-1.12,16-2.43,18.66-2.8C473.46,135.25,528.5,135.82,543.06,137.5Z" />
              <path d="M471.4,174.07c-2.62,2.43-3,9.33-3,46.47s.37,44,3,46.47a9.09,9.09,0,0,0,11.75,1.31c2.06-1.31,2.62-8,2.62-30.79.19-16,.75-29.11,1.5-29.11.56,0,10.26,13.25,21.46,29.29,11,16.23,20.9,30,22,30.79,3.73,2.62,10.26,1.49,12.31-2.06,1.12-2.24,1.87-20.53,1.87-46.65,0-36.38-.37-43.29-3-45.72-3-3.17-6.16-3.73-10.82-1.87-2.62.93-3,5.6-3,31.72,0,16.79-.56,30.6-1.31,30.6-.93,0-10.26-13.25-21.09-29.29S485,175,483.71,173.68C480.36,170.16,474.95,170.34,471.4,174.07Z" />
              <path id="needle" d="M445.42,346.15l-44.33,157L445.42,659.4c24.41,85.9,45.65,157.55,47.36,159.26a20.51,20.51,0,0,0,15.57,5.28c9.76-1.32,11.22-5.41,55.41-163.09C587.38,576,606.91,505.29,607,503.57c0-2.91-79.44-290.28-85.11-307.83-1.45-4.09-4-9-5.8-10.82-4.75-4.75-17.81-4.62-22.7.26C491.07,187.56,474.58,242.31,445.42,346.15Zm121.92,175c-.66,5.15-61.62,219.16-62.41,219.16s-15.31-49.62-32.45-110l-31.4-110,63.19-.13C539,520.19,567.34,520.59,567.33,521.12Z" />
              <path d="M171,457.71c-1.68,1.49-3,3.36-3,4.1,0,5.6,18.85,87,20.53,89,2.8,3.36,11.94,3.73,14.56.37,1.12-1.31,5.6-15.86,9.89-32.66,4.29-16.61,8.4-30.23,9.15-30.23.56,0,4.85,13.62,9.15,30.23,4.48,16.79,9,31.53,9.89,32.66,2.24,2.8,10.45,3.17,14.18.93,2.06-1.31,20.9-83.23,20.9-90.87,0-4.29-8-7.47-12.5-5-3,1.68-4.48,7.28-8.77,33.41-2.81,17.17-5.61,33-6.17,35.08-.75,2.24-4.48-9.7-10.07-31.54-4.85-19.41-9.89-36-11.38-36.76a8.16,8.16,0,0,0-11.19,1.5c-1.49,1.87-6.53,18.29-11,36.39s-8.4,32.84-8.77,32.47c-.19-.37-3-15.67-6.16-34s-6.54-34.34-7.66-35.64C179.93,453.78,174.52,454.16,171,457.71Z" />
              <path d="M769,459.2c-1.49,1.68-2,15.86-1.68,47l.56,44.6,26.87.56c26.87.56,31.91-.56,31.91-6.35,0-6.34-5.6-8.21-24.44-8.21H783.77V513.13L798,512.2c13.81-.93,17.35-2.62,17.54-8.4,0-5.41-6-8-18.85-8H783.76V471.52h19.41c21.83,0,25.75-1.87,22-10.26-2.06-4.66-2.24-4.66-28.18-4.66C777.42,456.59,770.71,457.15,769,459.2Z" />
              <path d="M489.13,741.71c-9.89,4.85-14,11.94-14,23.32,0,13.25,4.1,18.47,21.28,26.87,17.35,8.21,22.39,12.69,22.39,19.59,0,11.75-16.6,14.18-31.35,4.29-6.16-4.1-8.21-4.66-11.38-2.8-14.18,7.47,13.44,26.5,34,23.51,17.35-2.62,26.69-13.44,25.19-29.48-1.31-11.94-6-16.79-25.38-26.13-18.1-8.59-21.65-13.81-15.67-21.83,5-6.9,14.74-7.28,25.19-1.12,9,5,13.44,4.66,15.49-1.31,1.31-4.47-5-12.13-13.62-15.67C512.83,737.42,496.78,737.6,489.13,741.71Z" />
            </g>
          </svg>
        </div>
        <svg id="settings-cog" viewBox="0 0 24 24">
          <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" fill="white" />
        </svg>
      </div>
      <%- include fragments/settings -%>
    </main>
  </body>
</html>
